<!DOCTYPE html>
<html>
  <head>
    <title>DsAssignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="mt-10 mx-40">
      <%= render "shared/navbar" %>
      <p class="notice mt-10 font-bold text-green-600 text-center"><%= notice %></p>
      <p class="alert mt-10 font-bold text-orange-600 text-center"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
